/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  overflow-x: hidden;
  padding-top: 3rem;
  color: #FFFFFFD9;
  background: url('/static/images/bckg.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* Thin out the marketing headings */
.featurette-contact {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }

  .featurette-contact {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-contact {
    margin-top: 2rem;
  }
}

#container {
  margin: 0 auto;
}

.stripe {
  content: "";
  background-color: #292929b2;
  height: 100%;
}

.header_logo {
  width: 2em;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.circeled {
  border: 2px solid #FFFFFFD9;
  border-radius: 50%;
  display: inline-block;
  height: 140px;
  width: 140px;
  line-height: 140px !important;
  vertical-align: middle;

}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFFD9;
}

.nav-active {
  border-radius: 0.25rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

#map {
  height: 650px;
  margin-bottom: 2em;
}

.infocontent{
    color: black;
}
.infolink {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}
.listlink {
    color: black;
    text-decoration: none;
}

.ck-editor__editable[role="textbox"] { min-height: 200px; }

.ck-content .image {
    max-width: 100%;
    margin: 20px auto;
}

.ck.ck-editor__main>.ck-editor__editable { background-color: #343a40 !important; }

.btn{
  color: #FFFFFFD9 !important;
}

.white-link{
  text-decoration: none;
  color: #FFFFFFD9;
}

.white-link:hover{
  color: #0080FF;
}

table{
  color: #FFFFFFD9 !important;
}

.main-page-img{
    max-height: 3em;
}


@import url('https://fonts.googleapis.com/css?family=Bitter|Arvo|ato&display=swap');

body {
  background-image: url(https://mangetoica.com/gallery_images/homepage/background-mosaiques//bg.png);
  display: flex;
}

h1,h2,p{
  margin: 0;
}

h1{
  font-family: 'Arvo', serif;
  font-weight: lighter;
  font-size: 25px;
}

.cardtitle {
  font-family: 'Bitter', serif;
  font-weight: bold;
}

p {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  margin: 5px 1px;
  font-size: 15px;
}



#card {
  border: solid 2px #000;
  border-radius: 10px;
  box-shadow: 1px 2px 10px #000;
  background-color: #E9EEF2;
  margin: auto;
  width:10cm;
}

#card-title {
  padding: 5px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #2C6C73;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#card-id {
  padding: 5px;
  display: flex;
}

#card-number{
  display: inherit;
  margin-right: 50px;
}

#card-information {
  display: flex;
  padding: 5px;
}

#card-photo {
  background: url(https://www.habbo.fr/habbo-imaging/avatarimage?hb=image&user=null&headonly=0&direction=3&head_direction=3&action=&gesture=&size=l) no-repeat, #BFAE99;
  background-position: center;
  background-repeat: none;
  border: solid 2px #000;
  height: 150px;
  width: 150px;
}

#card-detail {
  display: flex;
  
}

.card-box {
  margin-right: 20px;
}

#cardsign {
  background: no-repeat url(https://fontmeme.com/permalink/200329/2719511201202ec68d51bbc66ea58d25.png);
  background-position: center;
  height: 38px;
  width: 350px;
}

#card-code {
  padding: 5px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}