@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Comforter+Brush');


.navbar-dark .navbar-nav .nav-link,
body {
  color: #fffFFFD9;
  font-family: 'Courier Prime', monospace;
}

.infocontent,
.infolink,
.listlink {
  color: #000
}

.infolink,
.listlink,
.white-link {
  text-decoration: none
}

body {
  overflow-x: hidden;
  padding-top: 3rem;
  background: url('/static/images/bckg.webp') center center/cover no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center
}

.marketing h2 {
  font-weight: 400
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem
}

.featurette-divider {
  margin: 2rem 0
}

.featurette-contact,
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem
}

@media (min-width:40em) {

  .featurette-contact,
  .featurette-heading {
    font-size: 50px
  }
}

@media (min-width:62em) {

  .featurette-contact{
    margin-top: 2rem
  }
}

#container {
  margin: 0 auto
}

.stripe {
  content: "";
  background-color: #292929b2;
  height: 100%
}

.header_logo {
  width: 2em
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

@media (min-width:768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem
  }
}

.circeled {
  border: 2px solid #fffFFFD9;
  border-radius: 50%;
  display: inline-block;
  height: 140px;
  width: 140px;
  line-height: 140px !important;
  vertical-align: middle
}

.nav-active {
  border-radius: .25rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important
}

#map {
  height: 650px;
  margin-bottom: 2em
}

.infolink {
  font-size: xx-large
}

.btn,
table {
  color: #fffFFFD9 !important
}

.white-link {
  color: #fffFFFD9
}

.white-link:hover {
  color: #0080ff
}

.main-page-img {
  max-height: 3em
}




body {
  display: flex;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-weight: lighter;
  font-size: 25px;
}

.cardtitle {
  font-weight: bold;
  font-size: 10px;
  color: #0051ff;
}

p {
  display: inline-block;
  margin: 5px 1px;
  font-size: 15px;
}

#card {
  outline: solid 15px hsla(0, 0%, 39%, 0.5);
  border-radius: 15px;
  box-shadow: 1px 2px 10px #000;
  background-image: linear-gradient(
    0deg,
    hsl(219deg 100% 74%) 0%,
    hsl(176deg 100% 80%) 50%,
    hsl(133deg 100% 86%) 100%
  );
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 148mm;
  height: 105mm;
  color:#000;
}

#card-title {
  padding: 5px;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #0051ff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#card-id {
  padding: 5px;
  display: flex;
}

#card-number {
  display: inherit;
  margin-right: 50px;
}

#card-information {
  display: flex;
  padding: 5px 5px 1px 0;
}

#card-photo {
  filter: grayscale(1);
}

#card-detail {
  display: flex;
}

.card-box {
  margin-right: 15px;
  margin-left: 10px;
}

#cardsign {
  height: 38px;
  font-size: x-large;
  margin-left: 50px;
}

#card-sign{
  margin-left: 10px;
}

#card-code {
  padding: 8px;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
