<!DOCTYPE html>
<html lang="fr-fr">
<head>
    {% block head %}

    <title>JeanConnu.fr - Découverez des Jeans connus dont vous ne soupsonnez pas l'existance !</title>
    
    <!-- SEO -->

    <link rel="canonical" href="https://jeanconnu.fr/">

    <meta charset="utf-8">
    <meta name="language" content="fr-fr"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="JeanConnu.fr - Découverez des Jeans connus dont vous ne soupsonnez pas l'existance !"/>
    <meta name="author" content="KOENIG Guillaume"/>

    <meta property="og:ttl" content="345600"/>
    <meta property="og:url" content="https://jeanconnu.fr/"/>
    <meta property="og:site_name" content="jeanconnu.fr"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="JeanConnu.fr - Découverez des Jeans connus dont vous ne soupsonnez pas l'existance !"/>
    <meta property="og:description" content="JeanConnu.fr - Découverez des Jeans connus dont vous ne soupsonnez pas l'existance !"/>
    <meta property="og:image" content="{{ url_for('static',filename='images/logo.webp') }}"/>
    <meta property="og:image:width" content="256"/>
    <meta property="og:image:height" content="256"/>

    <meta name="twitter:site" content="jeanconnu.fr"/>
    <meta name="twitter:card" content="Summary"/>
    <meta name="twitter:title" content="JeanConnu.fr - Découverez des Jeans connus dont vous ne soupsonnez pas l'existance !"/>
    <meta name="twitter:site" content="@GuillaumeKoenigTncy"/>
    <meta name="twitter:creator" content="@GuillaumeKoenigTncy"/>
    <meta name="twitter:image" content="{{ url_for('static',filename='images/logo.webp') }}"/>
    <meta name="twitter:description" content="JeanConnu.fr - Découverez des Jeans connus dont vous ne soupsonnez pas l'existance !"/>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static',filename='images/logo.webp') }}"/>

    <link rel="icon" type="image/webp" sizes="192x192" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="icon" type="image/webp" sizes="32x32" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="icon" type="image/webp" sizes="96x96" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="icon" type="image/webp" sizes="16x16" href="{{ url_for('static',filename='images/logo.webp') }}"/>
    <link rel="icon" type="image/webp" href="{{ url_for('static',filename='images/logo.webp') }}"/>

    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="{{ url_for('static',filename='images/logo.webp') }}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='styles/style_minify.css') }}" type="text/css" rel="stylesheet">

    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/f88b3658f2.js" crossorigin="anonymous"></script>
 
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <img src="{{ url_for('static',filename='images/logo.webp') }}" alt="Logo" title="Logo" class="header_logo" alt="">
                <a class="navbar-brand" href="{{ url_for('home') }}" title="Logo Home">&nbsp; JeanConnu </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item {{ 'nav-active' if page=='home' }}">
                            <a class="nav-link" href="{{ url_for('home') }}" title="Home">Accueil</a>
                        </li>
                        <li class="nav-item {{ 'nav-active' if page=='faq' }}">
                            <a class="nav-link" href="{{ url_for('faq') }}" title="FAQ">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="content">
        <main class="flex-fill">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% block footer %}
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">&copy; 2023 - KOENIG Guillaume</span>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="white-link" href="{{ url_for('legal') }}" title="Mentions légales">Mentions légales</a>
                        </div>
                        <div class="col-md-6" >
                            <a class="white-link" href="{{ url_for('changelog') }}" title="Changelog">Changelog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/f88b3658f2.js" crossorigin="anonymous"></script>

</body>
</html>