{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block desc %}FAQ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe">
        <div class="row featurette p-2">
            <div class="col-md-12">
                <h1 class="featurette-heading text-center">Foire aux questions</h1>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe">
        <div class="row featurette p-3">
            <div class="col-md-12">
                <h2>A quoi celà sert ?</h2>
                <p>
                    A rien !
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}