{% extends "base.html" %}
{% block title %}Acceuil{% endblock %}
{% block desc %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

{% if(jean.is_real_jean) %} 
<style>
	#card-title{
		background-color: goldenrod;
	}
	#card {
	background-image: linear-gradient(
		0deg,
		hsl(48, 100%, 51%) 0%,
		hsl(54, 100%, 68%) 50%,
		hsl(61, 100%, 76%) 100%
	);
	}
</style>
{% endif %}
{% if(jean.is_funny_jean) %} 
<style>
	#card-title{
		background-image: linear-gradient(
		90deg,
		hsl(0, 82%, 43%) 0%,
		hsl(57, 74%, 43%) 50%,
		hsl(108, 84%, 39%) 100%
	);

	}
	#card {
	background-image: linear-gradient(
		0deg,
		hsl(100, 100%, 50%) 0%,
		hsl(186, 100%, 71%) 50%,
		hsl(302, 100%, 64%) 100%
	);
	}
</style>
{% endif %}
<style>
.le{
	color: white;
	background-image: linear-gradient(
		0deg,
		rgba(255, 0, 0, 1) 50%,
		rgba(145, 0, 0, 1) 100%
	) !important;
}
.le #card-code {
	color: black;
}
.le .cardtitle {
	color: white;
}
.le #card-title {
	background-color: rgba(145, 0, 0, 1);
}
.decoration{
	border: 1px solid white;
}
</style>

<div class="container marketing mt-5">
	<div class="row stripe">
		<div class="row featurette p-5">
			<div class="col-md-12">
				<h1 class="featurette-heading">Mon Jean !</h1>
				<div id="card" class="{% if(jean.has_le) %} le {% endif %}">
					<div id="card-title">
						<h1>République Française</h1>
					</div>
					<div id="card-id">
						<div id="card-number">
							<p class="cardtitle">CARTE NATIONALE D'IDENTITÉ N° : </p>{{ jean.id }}
						</div>
						<p class="cardtitle">Nationalité Française</p>
					</div>
					<div id="card-information">
						{% if(jean.is_real_jean) %}
							<div id="card-photo"><img src="{{ jean.image }}" height="245px" width="175px" alt="ID-picture"></div>
						{% else %}
							<div id="card-photo"><img src="https://thispersondoesnotexist.com/" height="245px" width="175px" alt="ID-picture"></div>
						{% endif %}
						<div id="card-text">
							<div id="card-name">
								<div class="card-box">
									<span class="cardtitle">Nom : </span>{{ jean.nom.upper() }}
									{% if(jean.is_general) %}<img src="https://upload.wikimedia.org/wikipedia/commons/2/23/US-O7_insignia.svg" alt="Illustration" height="20">{% endif %}
									<br>
									<span style="margin-left: 20px;">
										{% if(jean.has_om) %}<img class="decoration" src="https://upload.wikimedia.org/wikipedia/commons/9/92/Ordre_national_du_Merite_Chevalier_ribbon.svg" title="Ordre National du mérite" alt="Illustration" height="20" style="margin-top: -10px;">{% endif %}
										{% if(jean.has_cl) %}<img class="decoration" src="https://upload.wikimedia.org/wikipedia/commons/9/93/Ordre_de_la_Liberation_2nd_ribbon.svg" title="Ordre de la libération" alt="Illustration" height="20">{% endif %}
										{% if(jean.has_cg14) %}<img class="decoration" src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Croix_de_Guerre_1914-1918_ribbon.svg" title="Croix de Guerre 14 18" alt="Illustration" height="20">{% endif %}
										{% if(jean.has_cg39) %}<img class="decoration" src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Croix_de_Guerre_1939-1945_ribbon.svg" title="Croix de Guerre 39 45" alt="Illustration" height="20">{% endif %}
										{% if(jean.has_mm) %}<img class="decoration" src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Medaille_militaire_ribbon.svg" title="Médaille militaire" alt="Illustration" height="20">{% endif %}
										{% if(jean.has_al) %}<img class="decoration" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Ordre_des_Arts_et_des_Lettres_Chevalier_ribbon.svg" title="Ordre des Arts et des Lettres" alt="Illustration" height="20">{% endif %}
										{% if(jean.has_pa) %}<img class="decoration" src="https://upload.wikimedia.org/wikipedia/commons/2/27/Palmes_academiques_Chevalier_ribbon.svg" title="Palmes académiques" alt="Illustration" height="20">{% endif %}
									</span>
									<br>
								</div>
								<div class="card-box">
									<span class="cardtitle">Prénom : </span>{{ jean.prenom.upper() }}
									<br>
									<br>
								</div>
							</div>
							<div id="card-detail">
								<div class="card-box">
									<span class="cardtitle">Sexe : </span>{{ gender }}
								</div>
								<div class="card-box">
									<span class="cardtitle">Né(e) le : </span>{{ jean.ddn_jour }}.{{ jean.ddn_mois }}.{{ jean.ddn_annee }}
								</div>
							</div>
							<div id="card-detail">
								<div class="card-box">
									<span class="cardtitle">à : </span>{{ jean.commune_de_naissance.upper() }}
								</div>
							</div>
							<div id="card-detail">
								<div class="card-box">
									<span class="cardtitle">Taille : </span>{{ jean.taille }}{% if not (jean.nom == "Moulin" and jean.is_real_jean) %}m{% endif %}
								</div>
							</div>
							<div id="card-sign">
								<p class="cardtitle">Signature du titulaire :</p>
								<div id="cardsign" style="font-family: '{{ jean.font }}', monospace;">{{ jean.nom.upper() }}</div>
							</div>
						</div>
					</div>
					<div id="card-code">
						<p>
							{{jean.top_cni_line}}
							<br>
							{{jean.bottom_cni_line}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="row stripe">
		<div class="row featurette p-5">
			<div class="col-md-12">
				<h2 class="featurette-heading">Son histoire !</h2>
				<p class="lead">{{ abstract }}</p>
			</div>
		</div>
	</div>
	<hr class="featurette-divider">
</div>
{% endblock %}